################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs

# TripSplitBK
TripSplitBK/.vs/
TripSplitBK/TripSplitBK/bin/
TripSplitBK/TripSplitBK/obj/