################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs

# TripSplitBK
TripSplitBK/.vs/
TripSplitBK/TripSplitBK/bin/
TripSplitBK/TripSplitBK/obj/
/TripSplitBK/.vs/ProjectEvaluation/tripsplitbk.metadata.v10.bin
/TripSplitBK/.vs/ProjectEvaluation/tripsplitbk.projects.v10.bin
/TripSplitBK/.vs/ProjectEvaluation/tripsplitbk.strings.v10.bin
/TripSplitBK/.vs/TripSplitBK.slnx/DesignTimeBuild/.dtbcache.v2
/TripSplitBK/.vs/TripSplitBK.slnx/v18/.futdcache.v2
/TripSplitBK/.vs/TripSplitBK.slnx/v18/.suo
/TripSplitBK/.vs/TripSplitBK.slnx/v18/DocumentLayout.backup.json
/TripSplitBK/.vs/TripSplitBK.slnx/v18/DocumentLayout.json
/TripSplitBK/TripSplitBK/bin/Debug/net10.0/appsettings.json
/TripSplitBK/TripSplitBK/bin/Debug/net10.0/TripSplitBK.deps.json
/TripSplitBK/TripSplitBK/bin/Debug/net10.0/TripSplitBK.dll
/TripSplitBK/TripSplitBK/bin/Debug/net10.0/TripSplitBK.exe
/TripSplitBK/TripSplitBK/bin/Debug/net10.0/TripSplitBK.pdb
/TripSplitBK/TripSplitBK/bin/Debug/net10.0/TripSplitBK.runtimeconfig.json
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/ref/TripSplitBK.dll
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/refint/TripSplitBK.dll
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/apphost.exe
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/rpswa.dswa.cache.json
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.AssemblyInfo.cs
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.AssemblyInfoInputs.cache
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.assets.cache
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.csproj.CoreCompileInputs.cache
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.csproj.FileListAbsolute.txt
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.dll
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.genruntimeconfig.cache
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.MvcApplicationPartsAssemblyInfo.cs
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.pdb
/TripSplitBK/TripSplitBK/obj/Debug/net10.0/TripSplitBK.sourcelink.json
/TripSplitBK/TripSplitBK/obj/Release/net10.0/TripSplitBK.AssemblyInfo.cs
/TripSplitBK/TripSplitBK/obj/Release/net10.0/TripSplitBK.AssemblyInfoInputs.cache
/TripSplitBK/TripSplitBK/obj/Release/net10.0/TripSplitBK.assets.cache
/TripSplitBK/TripSplitBK/obj/project.assets.json
/TripSplitBK/TripSplitBK/obj/project.nuget.cache
/TripSplitBK/TripSplitBK/obj/TripSplitBK.csproj.nuget.dgspec.json
/TripSplitBK/.vs/TripSplitBK/CopilotIndices/18.6.39603.9996/CodeChunks.db
/TripSplitBK/.vs/TripSplitBK/CopilotIndices/18.6.39603.9996/SemanticSymbols.db
